.favourites {
  background-color: var(--background);
}

.favouritesContainer {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.favEpisode {
  display: flex;
  background: var(--secondary-bg);
  padding: 1rem;
  border: 1px solid #e5e7eb;
  border-radius: 6px;
  transition: transform 0.2s ease, box-shadow 0.2s ease, background 0.2s ease;
  margin-bottom: 1rem;
  align-items: center;
}

.episodeImage {
  padding-right: 10px;
}

.episodeDetails p {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
