.favouritesContainer {
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--secondary-bg);
  padding: 20px;
  margin: 0;
  color: var(--text);
}

.favEpisode {
  display: flex;
  background: var(--background);
  padding: 1rem;
  border: 1px var(--background);
  border-radius: 6px;
  transition: transform 0.2s ease, box-shadow 0.2s ease, background 0.2s ease;
  margin-bottom: 1rem;
  align-items: center;
}

.episodeImage {
  padding-right: 10px;
}

.episodeDetails p {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.favDetails {
  border-radius: 10px;
}
