.main {
  background-color: var(--background);
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
  background-color: var(--background);
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 768px) {
  .controls {
    flex-direction: row;
    align-items: flex-end;
    gap: 1.5rem;
  }
}
