.appHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: white;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.pages {
  display: flex;
  gap: 5px;
}

.appHeader a {
  text-decoration: none;
  color: black;
}
